.banner {
    display: flex;
    background: url(assets/images/banner-1.png) no-repeat center center fixed;
    background-size: 100%;
    height: 6em;
    width: 100%;
    /* font-size: 36pt; */
    /* padding: 36pt; */
    margin: 2% auto;
}

.container {
    padding: 1%;
}

h1 {
    /* padding-left: 86pt;
    margin-left: 2em;
    position: relative;
    width: 4em;
    height: 4em; */

}

